h1 {
  border: whitesmoke 5px double;
  color: rgb(110, 182, 39);
  text-align: center;
  border-radius: 10px;
  background-color: black;
}

p {
  color: rgb(195, 233, 248);
  font-weight: bold;
}

body {
  background-color: rgb(173, 8, 8);
}

